<!DOCTYPE html>
<html style="font-size:unset">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CqSheep.RazorSample.Host</title>

    <link rel="stylesheet" href="~/css/flex.css" />
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <!-- <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.min.css" rel="stylesheet"> -->
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <style>
        .header-position {
            position: sticky;
            width: 100%;
            top: 0;
            background-color: #fff;
            z-index:1000;
        }
        .content-position{
            background-color: #ebecee;
            width: 100%;
            z-index:20;
        }
        .footer-position{
            width: 100%;
            height: 3.75rem;
            border-top: 1px solid #e1e5eb!important;
            background-color: #fff!important;
        }
    </style>
</head>
<body style="margin:0">
    <div class="flex-row flex-main-start flex-align-start">
        <div style="width:16.7%;">
            @await Html.PartialAsync("~/Views/Partials/Admin/AdminMenusPartial.cshtml")
        </div>
        <div class="flex-column flex-main-start flex-align-center" style="width:83.3%">
            <div class="header-position">
                @await Html.PartialAsync("~/Views/Partials/Admin/AdminHeaderPartial.cshtml")
            </div>
            <div class="content-position">
                @await Html.PartialAsync("~/Views/ComponentItems/Navigation.cshtml")
                @RenderBody()
            </div>
            <div class="footer-position">
                @await Html.PartialAsync("~/Views/Partials/Admin/AdminFooterPartial.cshtml")
            </div>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
    @RenderSection("Css", required: false)
</body>
</html>
