<div class="flex-row flex-main-between flex-align-center header-banner">
    <div class="flex-row flex-main-center flex-align-center" >
        <partial name="~/Views/ComponentItems/SearchInput.cshtml"></partial>
    </div>
    <div class="flex-row flex-main-end flex-align-center" >
        <div class="header-ring"></div>
        <div class="flex-row flex-main-center flex-align-center" >
            <div class="header-headImage">头像</div>
            <div class="header-other">
                <span>其他选项</span>
                <span></span>
            </div>
        </div>
    </div>

</div>

<style>

</style>
<script>

</script>